.titles-holder {
  display: block;
  margin: 0 auto;
  padding: 0 5px;

  @include media-min(md) {
    display: inline-block;
    margin: 0;
  }

  .h1,
  .h2 {
    margin-bottom: 16px;
    font-size: 26px;
    text-align: center;

    @include media-min(md) {
      font-size: 50px;
    }
  }

  .h1 {
    margin: 30px 0;

    @include media-max(md) {
      font-size: 29px;
    }
    
    @include media-min(md) {
      text-align: center;
      margin: 70px 0 50px;
    }
  }

  .h2 {
    @include media-min(md) {
      text-align: left;
    }
  }

  .under-title {
    font-size: 20px;

    @include media-min(md) {
      font-size: 26px;
    }
  }

  .dynamic-part {
    position: relative;
    margin-left: 14px;
  }

  .dynamic-part:before {
    content: " ";
    position: absolute;
    left: -10px;
    height: 20px;
    width: 1px;
    background: $title-color;

    @include media-min(md) {
      font-size: 30px;
      height: 24px;
    }
  }
}

.article {
  &-title {
    color: $dark;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 28px;
  }

  &-subtitle {
    color: $dark;
    display: block;
    font-size: 18px;
    margin-left: 100px;
    line-height: 1;
  }
}