$dark: #04201D;
$gray: #5f5f5f;
$white: #ffffff;
$black: #000000;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$red-500: #f56565;
$green-500: #48bb78;
$blue-200: #669EFF;
$blue-600: #1E53AE;

$yellow-500: #F7D414;
$green-loft: #0B3430;
$green-loft-400: #0A453F;

$beige-200: #E7E6D3;
$beige-300: #F5F1DD;
$beige-400: #E7C583;
$beige: #E7C583;
$beige-600: #B28D5D;
$body-bg: #D3CDBA;

$title-color: $dark;
$text-color: $black;
$loft-text-color: $white;

// Link Colors
$link-color: $gray;
$link-color-hover: $blue-600;

$header-menu-color: $beige-300;

$tab-btn-bg: $beige-200;
$tab-contact-content-bg: $beige-200;
$tab-active-btn-bg: $green-loft-400;
$tab-content-color: $beige-300;

$table-color: #D6CABF;
$table-row-bg: $green-loft-400;
